body,button
{
    font-family: Muli;
}

#topbar
{
    background-color: #5c4b51;
    color: white;
    margin: -8px;
    margin-bottom: 85px;
    height: 100px;
}

#level_label
{
    width: 150px;
    float: left;
    position: relative;
    font-size: 25px;
    margin: 35px;
}

#streak_label
{
    width: 500px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 20px;
}

#current_streak_label
{
    font-size: 35px;

}

#needed_for_next_label
{
    color: #d7d7d7
}

#feedback_icon_area
{
    height: 0px;
}

#answer_button_area
{
    margin: auto;
    display: table;
}

#stimulus, #level_feedback_area
{
    border-radius: 10px;
    margin: auto;
    padding: 30px;
}

#stimulus
{
    background-color: #f6f5f3;
    color: #5b5a5a;
    width: 750px;
}

#level_feedback_area
{
    background-color: #8bbdb2;
    color: white;
    font-size: 30px;
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
}

h1
{
text-align: center;
color: #eeb643;
font-weight: normal;
font-size: 44px;
}

button
{
    border: 0px;
    cursor: pointer;
}

.navigation_button
{
    float: right;
    float: right;
    width: 75px;
    height: 75px;
    margin: 10px;
    position: relative;
    border-radius: 36px;
    margin-right: 20px;
}

#info_button
{
    background-image: linear-gradient(90deg, #f06060 50%, #c44e4e 51%);
    font-family: Fanwood;
    font-size: 63px;
    color: white;
    line-height:80px
}

#highscore_button
{
    background-image: linear-gradient(90deg, #8bbdb2 50%, #719a91 51%);
}

.answer_button
{
    background-color: #eeb643;
    background-image: linear-gradient(180deg, #eeb643 50%, #dba83e 51%);
    padding-left: 29px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 35px;
    color: white;
    font-size: 29px;
    border-radius: 17px;
}

.answer_button:hover
{
    background-image: linear-gradient(180deg, #eeb643 90%, #dba83e 91%);
}

.feedback_icon
{
    width: 35px;
    position: absolute;
}

#thumbs_up_image
{
    position: relative;
    left: -30px;
    top: 12px;
}

#cup_icon
{
    position: relative;
    left: 1px;
    top: 1px;
}

