
{% load staticfiles %}

<html>
    <head>
        <title>Please give your name</title>
    </head>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />
    <link href="http://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Fanwood+Text' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<body>
{% include 'menu.html' %}
<div id="centerfield">
    <p>You made the highscore! Please give your name:</p>
    <form method="post" action="/">
        {% csrf_token %}
        <input type="text" name="playername">
        <input type="hidden" name="streak_id" value="{{streak_id}}">
        <input type="submit">
    </form>
</div>
</body>
</html>