{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />
    <link href="http://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Annotation game</title>

    <script>
        $(document).ready(function ()
        {
            //Prepare Jquery to work with Django

            function getCookie(name)
            {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method)
            {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

           $.ajaxSetup(
           {
                beforeSend: function(xhr, settings)
                {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain)
                    {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            //The actual button click
            $('.answer_button').click(function()
            {
                $.post("add_answer/{{stimulus_index}}/"+$(this).attr('pk'), function( data )
                {
                  alert('Posted');
                });
            });
        });

    </script>

</head>
<body>
    <div id="topbar">
        <div id="level_label">Level: 2</div>

        <button class="navigation_button" id="highscore_button"></button>
        <button class="navigation_button" id="info_button"></button>


        <div id="streak_label">
            <div id="current_streak_label">
                Current streak: 5
            </div>
            <div id="needed_for_next_label">
                Needed for next level: 15
            </div>
        </div>
        </div>
    </div>
    <h1>Dream or personal story?</h1>
    <div id="stimulus">{{stimulus_text}}</div>
    <div id="answer_button_area">
        {% for answer in answers %}
            <button pk="{{answer.pk}}" class="answer_button">{{answer.text}}</button>
        {% endfor %}
    </div>
</body>
</html>